<h1><%= @list.name %></h1>
<ul>
<% @tasks.each do |task| %>
    <li>
        <%= task.name %>
    </li>
<% end %>
</ul>

<%= link_to "Add a Task to this List", new_list_task_path(@list) %><br />
<%= link_to 'Delete this List', board_list_path(@board, @list), method: :delete %>