<div class="board container">

<div class="user">
  <h2><%= current_user.first_name %>'s Workspace </h2>
<%= link_to "Add New Board", new_board_path, class: "ui button #A9A9A9" %>
</div>
<ul>
  <% @boards.each do |board| %>
    <%= link_to board do %>
      <li class = "board">
        <%= board.name %>
      </li>
    <% end %>
  <% end %>
</ul>

</div>